
body{
    background-color: black;
    /*font*/
    font-family: 'Montserrat', sans-serif;
    background-image: url("../img/background1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}
/*navbar div to contain heading and links*/
.navbar{
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Define 3 columns */
    grid-template-rows: 1fr;/*1 row*/
    gap:2vh;

    background-color: white;
    width:100%;
    height:8vh;
    padding:10px;
}

#heading{
    height:7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    column-span: 2;
    font-family: 'Parisienne', cursive;
    font-size: 1.5rem;
}
/*ffa8bd*/
#home-btn{
    height:7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#about-btn{
    height:7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#contact-btn{
    height:7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.navbtn:hover{
    color: #ffa8bd;
    cursor: pointer;
}

a{
    text-decoration: inherit;
    color: inherit;
}

.active{
    border-bottom: 2px solid #ffa8bd;
    font-weight: bold;
}


/*footer css*/
.footer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width:100%;
    height:12vh;
    padding:10px;
    background-color: white;
}

#footer-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5vh;
    font-size: large;
}

#socials{

    display: flex;
    gap:5vh;
    justify-content: center;
    align-items: center;
}

#instagram{
    background-image: url("../img/instagram.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    width:40px;
    height:40px;
}
#youtube{
    background-image: url("../img/youtube.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    width:40px;
    height:40px;
}

/*bio css*/
.bio{
    height:fit-content;
    display: flex;
    gap:6vh;
    justify-content: center;
    align-items: center;
    align-content: center;

}

#bio-area{
    display: flex;
    background-color: white;
    border-radius: 15px;
    height:fit-content;
    padding:20px;
    width:70%;
    justify-content: center;
    align-items: center;
    gap:12vh;
}

#bio-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    height:fit-content;
    font-size: large;
    color: black;
    background-color: white;
    gap: 70px;
    padding:30px;
    border-radius: 15px;
}

#bio-info{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    height:fit-content;
    font-size: 22px;
}

#bio-headings{
    text-align: right;
    height:fit-content;
    color: black;
}

#bio-heading{
    height:140px;
    width: 100%;
    text-align: left;
    grid-column: span 2;
    font-family: 'Parisienne', cursive;
    font-size: 3rem;
    color: black;
   /* background-color: #ffa8bd;*/
}

#profile-img{
    border-radius: 100%;
    height:400px;
    width:400px;
    min-width: 400px;
    min-height: 400px;
    background-color: #ffa8bd;
    background-image: url("../img/hayley2.JPG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

#profile-img:hover{
    background-image: url("../img/hayley1.JPG");
}

/*education table*/
.education-grid{
    padding-left:10%;
    padding-right:10%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    color: black;
    font-weight: bold;
    height: fit-content;
    overflow: hidden;
    background-color: white;
    border-radius: 5px;
    width:50%;
}

#education-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ed-heading{
    font-family: 'Parisienne', cursive;
    font-size: xx-large;
    color: white;
}

.grid-heading{
    font-weight: bold;
    font-size: large;
}

.skill-grid{
    padding-left:10%;
    padding-right:10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(5,1fr);
    color: black;
    font-weight: bold;
    height: fit-content;
    overflow: hidden;
    background-color: white;
    border-radius: 5px;
    width:50%;
}

#skill-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-grid{
    padding-left:10%;
    padding-right:10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: black;
    font-weight: bold;
    height: fit-content;
    overflow: hidden;
    background-color: white;
    border-radius: 5px;
    width:50%;
    padding-top:5px;
    padding-bottom:5px;
}

#projects-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#moveit{
    background-image: url("../img/moveit.png");
}

#RASA{
    background-image: url("../img/RASA.png");
}

#tindog{
    background-image: url("../img/tindog.png");
}
.project-img{
    width:300px;
    height:200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    border-radius: 5px;
}

.project-img:hover{
    cursor: pointer;
}


/*media query*/
@media (max-width: 1430px) and (min-width: 1100px){
    #heading{
        font-size: 1rem;
    }
    #profile-img{
        height:320px;
        width:320px;
    }

    #bio-text{
        width: fit-content;
        grid-row-gap: 0;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    #bio-heading{
        background-color: transparent;
        text-align: center;
        height:90px;
    }

    .bio{
        height:60vh;
        background-color: transparent;
    }

    .skill-grid{
        gap:20px;
        width:60%;
    }

    .project-grid{
        width:60%;
        justify-content: center;
        align-items: center;
        gap:20px;
        overflow: scroll;
    }

    /*education table*/
    .education-grid{
        width:60%;
    }

    #bio-text{
        gap:40px;

    }
    #bio-info{
        display: flex;
        gap: 30px;
        justify-content: center;
        align-items: center;
        height:fit-content;
        font-size: 18px;

    }

    #profile-img{
        border-radius: 100%;
        height:300px;
        width:300px;
        min-width: 300px;
        min-height: 300px;
        background-color: #ffa8bd;
        background-image: url("../img/hayley2.JPG");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
    }

    #bio-heading{
        font-size: 2.3rem;
    }


    #bio-area{
        min-width: 70%;
    }


}

@media (max-width: 1100px) and (min-width: 900px){
    #heading{
        font-size: 1rem;
    }

    #bio-text{
        width: fit-content;
        grid-row-gap: 0;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    #bio-heading{
        background-color: transparent;
        text-align: center;
        height:90px;
    }

    .bio{
        height:60vh;
        background-color: transparent;
    }

    .skill-grid{
        gap:20px;
        width:60%;
    }

    .project-grid{
        width:60%;
        justify-content: center;
        align-items: center;
        gap:20px;
        overflow: scroll;
    }

    /*education table*/
    .education-grid{
        width:60%;
    }

    #bio-text{
        gap:40px;

    }
    #bio-info{
        font-size: 18px;

    }

    #profile-img{
        height:280px;
        width:280px;
        min-width: 280px;
        min-height: 280px;
    }

    #bio-heading{
        font-size: 2.1rem;
    }


    #bio-area{
        min-width: 85%;
    }


}

/*media query*/
@media (max-width: 900px) and (min-width: 600px){
    #heading{
        font-size: 1rem;
    }

    .bio{

        height:fit-content;
        display: flex;
        flex-direction: column;
        gap:0;
        justify-content: center;
        align-items: center;
    }



    .skill-grid{
        height: fit-content;
        gap:20px;
        background-color: white;
        border-radius: 5px;
        width:60%;
    }

    .project-img{
        width:300px;
        height:200px;

    }
    .project-grid{
        display: flex;
        width:60%;
        justify-content: center;
        align-items: center;
        gap:20px;
        overflow: auto;
    }

    /*education table*/
    .education-grid{
        width:60%;
        min-width:400px;
    }

    .bio-text{
        margin: 0;
        padding: 0;
        background-color: pink;
    }

    .navbtn > a > h2{
        font-size: 18px;
        font-weight: normal;
    }

    #bio-text{
        gap:20px;
       max-height:400px;
        background-color: transparent;
    }
    #bio-info{
        font-size: 18px;

    }
    #profile-img{
        height:230px;
        width:230px;
        min-width: 230px;
        min-height: 230px;
    }

    #bio-heading{
        font-size: 2rem;
    padding:0;
        margin:0;
    }


    #bio-area{
        min-width: 90%;
        gap:20px;
        height:400px;
    }
}

/*media query*/
@media (max-width: 780px) and (min-width: 600px){
    #heading{
        font-size: 1rem;
    }

    .bio{

        height:fit-content;
        display: flex;
        flex-direction: column;
        gap:0;
        justify-content: center;
        align-items: center;
    }



    .skill-grid{
        height: fit-content;
        gap:20px;
        background-color: white;
        border-radius: 5px;
        width:60%;
        min-width: 400px;
    }

    .project-img{
        width:300px;
        height:200px;

    }
    .project-grid{
        display: flex;
        flex-direction: row;
        width:60%;
        justify-content: center;
        align-items: center;
        gap:20px;
        overflow: auto;
    }

    /*education table*/
    .education-grid{
        width:60%;
    }

    .bio-text{
        margin: 0;
        padding: 0;
        background-color: pink;
    }

    .navbtn > a > h2{
        font-size: 18px;
        font-weight: normal;
    }

    #bio-text{
        gap:0;
        max-height:400px;

    }
    #bio-info{
        font-size: 18px;


    }
    #profile-img{
        height:200px;
        width:200px;
        min-width: 230px;
        min-height: 230px;
    }

    #bio-heading{
        font-size: 2rem;
        padding:0;
        margin:0;

    }


    #bio-area{
        min-width: 680px;
        gap:10px;
        height:400px;

    }
}

/*media query*/
@media (max-width: 740px) and (min-width: 200px){
    #heading{
        font-size: 1rem;
    }

    .bio{

        height:fit-content;
        display: flex;
        flex-direction: column;
        gap:0;
        justify-content: center;
        align-items: center;
    }



    .skill-grid{
        height: fit-content;
        gap:20px;
        background-color: white;
        border-radius: 5px;
        width:60%;
    }

    .project-img{
        width:300px;
        height:200px;

    }
    .project-grid{
        display: flex;
        flex-direction: row;
        width:60%;
        justify-content: center;
        align-items: center;
        gap:20px;
        overflow: auto;
    }

    /*education table*/
    .education-grid{
        width:60%;
    }

    .bio-text{
        margin: 0;
        padding: 0;
        background-color: pink;
    }

    .navbtn > a > h2{
        font-size: 18px;
        font-weight: normal;
    }

    #bio-text{
        gap:0;
        max-height:400px;
        background-color: transparent;
    }
    #bio-info{
        font-size: 18px;


    }
    #profile-img{
        height:200px;
        width:200px;
        min-width: 230px;
        min-height: 230px;
    }

    #bio-heading{
        font-size: 2rem;
        padding:0;
        margin:0;
        text-align: center;
    }


    #bio-area{
        flex-direction: column;
        min-width:400px;
        gap:10px;
        height:fit-content;

    }
}
.blank{
    height:10vh;
    width:100%;
}



